@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

body {
  font-family: "Roboto Condensed", sans-serif;
}

.title, .subtitle, .navbar-item {
  font-family: "Roboto", sans-serif;
  color: white;
}

.title, .subtitle {
  text-shadow: 0 1px 0 #ccc, 
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3)
}

.title {
  margin-bottom: 5%;
}

.icons-list>a {
  color: ghostwhite;
  margin: 0 5%;
}

.section {
  padding: 6.125% 12.5%;
}

.top-section {
  background: #77A1D3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  margin: auto;
}

.navbar {
  padding: 2% 0;
}


.column {
  align-items: center;
}

.column>img {
  margin: auto;
}

.hero-body {
  margin: 2% 0;
  margin-top: 0;
}

.centered {
  text-align: center;
}

.is-vcentered {
  display: flex;
  align-items: center;
}

#what-we-offer {
  background: #59efbc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fe7986, #9885fc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fe7986, #9885fc);  /* Chrome 10-25, Safari 5.1-6 */
}

.tile {
  color: white;
}

#mentorship {
  background-color: #59efbc;
}

#pd {
  background-color: #9885fc;
}

#community {
  background-color: #263f81;
}

#perks {
  background-color: #fe7986;
}
